{% extends 'base.html.twig' %}

{% block title %}Fil d'actualité Twitter{% endblock %}

{% block body %}
    <h1 class="text-white">Fil d'actualité Twitter</h1>

    <a class="text-white" href="{{ login_url }}">Se connecter avec Twitter</a>
{% endblock %}
